<div class="mt-4 container">
  <h3>Edit User</h3>
  <form
    class="mt-5"
    method="POST"
    action="/api/userList/{{users._id}}?_method=PUT"
  >
    <div class="form-group">
      <label for="inputEmail">Email address</label>
      <input
        type="email"
        class="form-control"
        value="{{users.email}}"
        id="input-email"
        name="email"
        placeholder="Enter email"
        required
      />
    </div>

    <div class="form-group">
      <label for="input-password">Password</label>
      <input
        type="text"
        class="form-control"
        value="{{users.password}}"
        id="input-password"
        name="password"
        placeholder="Password"
        required
      />
    </div>

    <div class="form-group">
      <label for="input-isAdmin">Is Admin</label>
      {{! <input type="text" name="isAdmin" value="false" /> }}
      <select name="isAdmin" id="" class="form-control">
        <option value="true">True</option>
        <option value="false" selected>False</option>
      </select>

    </div>

    <div class="form-group">
      <label for="input-username">Username</label>
      <input
        type="text"
        class="form-control"
        value="{{users.username}}"
        id="input-username"
        name="username"
        placeholder="Username"
        required
      />
    </div>
    {{!-- 
    <div class="form-group">
      <label for="input-code">Code</label>
      <input
        type="text"
        class="form-control"
        value="{{users.code}}"
        id="input-code"
        name="code"
        placeholder="Code"
      />
    </div> --}}

    <div class="form-group">
      <label for="input-file">JPEG Img</label>
      <img
        src="{{users.avatar}}"
        alt="Avatar"
        class="form-control"
        name="avatar"
      />
    </div>

    <button type="submit" class="btn btn-primary mt-4">Save</button>
  </form>
</div>